<html>
    <head><b><center><font face="times new roman"size="250" color="block">loan approval</center> </font></b> </head>
    <body background="C:\Users\SAKTHI\Downloads\wp7039602.webp">
                    <p><font face="times new roman"size="250" color="blue">
                                         BANKING SOLUTIONS
            loan predication is very common real-life problem that each retil bank facesat least at once in its lifeline
          </p>
        </font>
    </body>

</html>

